#site-header {
  display: flex;
  flex-direction: row;
}
#page-links a {
  margin: 1rem;
}
#user-controls > button {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
}
#user-controls > button > img {
  margin-left: auto;
  margin-right: auto;
}