/* dark/light mode color vars */
.dark {
  --background-color: #1c1c1c;
  --background-elev-1: rgba(255, 255, 255, 0.05);
  --background-elev-2: rgba(255, 255, 255, 0.10);
  --text-color: white;
  --color-link: #74b6f3;
}
.light {
  --background-color: white;
  --background-elev-1: rgba(0, 0, 0, 0.05);
  --background-elev-2: rgba(0, 0, 0, 0.10);
  --text-color: black;
  --color-link: #2089ff;
}

#App {
  background: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

/* ----- Layout ----- */
#page {
  max-width: 60rem;
  margin: 0 auto;
}
/* header */
#header {
  max-width: 80rem;
  display: flex;
  flex-direction: row;
}
#header nav {
  font-size: 1.25rem;
  margin-top: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#page-links a {
  margin: 1rem;
}
/* report form */
#report-form {
  display: flex;
  flex-direction: row;
}
#form-preview{
  padding-left: 1rem;
}
.form-container {
  width: 100%;
  max-width: 30rem;
}
.form-container > form {
  display: flex;
  flex-direction: column;
}
/* Criminal Search */
#page .wrapper {
  padding: 0px;
}
.criminal {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}
.mugshot-container > img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 1rem;
}


a {
  text-decoration: none;
  color: var(--color-link);
}
.panel {
  background-color: var(--background-elev-1);
  width: fit-content;
  border-radius: 1rem;
  padding: 1rem;
}
h1,h2,h3,h4,p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
input, button, textarea {
  background-color: var(--background-elev-1);
  color: var(--text-color);
  border: 0;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
}
input:hover, button:hover {
  background-color: var(--background-elev-2);
}

#user-controls > button {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
}
#user-controls > button > img {
  margin-left: auto;
  margin-right: auto;
}


/* ----- Snake Game Stuff ----- */
#snakeGame {
  position: relative;
  margin: auto;
  width: 30rem;
  height: 30rem;
  background: black;
}
.snaketile {
  /* outline: darkgreen;
  outline-width: 1rem;
  outline-style: solid; */
  position: absolute;
}
.snakepart {
  width:1.5rem;
  height:1.5rem;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  background: green;
}
.snakeapple {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: -0.25rem;
  margin-left: -0.25rem;
}
/* Pixel Art Font for text overlays on games*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
#snakeTextOverlay {
  font-family: "Press Start 2P";
  text-align: center;
  padding: 1rem;
  color: white;
}
.snakeButton {
  margin-top: 2rem;
  font-size: 1rem;
  color: white;
  font-family: "Press Start 2P";
  border-radius: 0px;
  background: #1c1c1c;
}
.snakeBountyButton {
  font-size: 2rem;
  color: black;
  background-image: url("./assets/money.png");
  image-rendering: pixelated;
  background-size: 20rem;
  width: 20rem;
  height: 8.4rem;
}
.snakeBountyButton:hover {
  color: #222222;
  background-size: calc(20rem*1.1);
  width: calc(20rem*1.1);
  height: calc(8.4rem*1.1);
}
.snakeFailedButtons {
  display: flex;
  flex-direction: row;
}
.snakeFailedButtons > button {
  margin-left: auto;
  margin-right: auto;
}
.snakeFailedButtons > button:hover {
  background: #222222;
}

/* ----- Layout ----- */
/* home */
.home {
  display: flex;
  flex-direction: row;
}
.image-slider {
  min-width: 0px;
}
.alice-carousel__prev-btn span, .alice-carousel__next-btn span {
  font-size: 2rem;
}
.sidebar {
  margin-left: 1rem;
  text-align: center;
}

.hidden {
  display: none;
}

.scorecounter {
  display: flex;
  flex-direction: column;
}
.rps-circle {
  margin: auto 0rem;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}
.gameboard-container {
  display: flex;
  flex-direction: row;
}